<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meruvian.droidsigner">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:name=".DroidSignerApplication"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activity.LoginActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            />
        <provider
            android:name="com.meruvian.droidsigner.content.DocumentDownloadedContentProvider"
            android:authorities="com.meruvian.droidsigner.content.documentdownloadedcontentprovider"
            android:syncable="true"/>
    </application>

</manifest>
